--
-- PostgreSQL database dump
--

\restrict OXgdW1XxOffmunAjk6jdtx2FYf3nDOhnaepCslgnNlbg8eZrToa7177x7AnjyWh

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: korisnik; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.korisnik (
    id bigint NOT NULL,
    username character varying(100) NOT NULL,
    password character varying(255) NOT NULL,
    ime character varying(100)
);


ALTER TABLE public.korisnik OWNER TO postgres;

--
-- Name: korisnik_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.korisnik_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.korisnik_id_seq OWNER TO postgres;

--
-- Name: korisnik_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.korisnik_id_seq OWNED BY public.korisnik.id;


--
-- Name: resurs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.resurs (
    resurs_id bigint NOT NULL,
    naziv character varying(100) NOT NULL,
    tip character varying(50),
    radno_vreme character varying(50)
);


ALTER TABLE public.resurs OWNER TO postgres;

--
-- Name: resurs_resurs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.resurs_resurs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.resurs_resurs_id_seq OWNER TO postgres;

--
-- Name: resurs_resurs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.resurs_resurs_id_seq OWNED BY public.resurs.resurs_id;


--
-- Name: rezervacija; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rezervacija (
    id bigint NOT NULL,
    korisnik_id bigint NOT NULL,
    termin_id bigint NOT NULL,
    status character varying(20) NOT NULL,
    datum_rezervacije timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    rezervacija_id character varying(50)
);


ALTER TABLE public.rezervacija OWNER TO postgres;

--
-- Name: rezervacija_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rezervacija_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rezervacija_id_seq OWNER TO postgres;

--
-- Name: rezervacija_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rezervacija_id_seq OWNED BY public.rezervacija.id;


--
-- Name: rezervaciona_serija; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rezervaciona_serija (
    serija bigint NOT NULL,
    tip character varying(50),
    do_datum date,
    repeat_count integer,
    series_id character varying(50),
    slot_id bigint,
    start_date date,
    user_id bigint
);


ALTER TABLE public.rezervaciona_serija OWNER TO postgres;

--
-- Name: rezervaciona_serija_serija_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rezervaciona_serija_serija_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rezervaciona_serija_serija_seq OWNER TO postgres;

--
-- Name: rezervaciona_serija_serija_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rezervaciona_serija_serija_seq OWNED BY public.rezervaciona_serija.serija;


--
-- Name: termin; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.termin (
    termin_id bigint NOT NULL,
    datum date NOT NULL,
    vreme time without time zone NOT NULL,
    resurs_id bigint NOT NULL
);


ALTER TABLE public.termin OWNER TO postgres;

--
-- Name: termin_termin_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.termin_termin_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.termin_termin_id_seq OWNER TO postgres;

--
-- Name: termin_termin_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.termin_termin_id_seq OWNED BY public.termin.termin_id;


--
-- Name: korisnik id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.korisnik ALTER COLUMN id SET DEFAULT nextval('public.korisnik_id_seq'::regclass);


--
-- Name: resurs resurs_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resurs ALTER COLUMN resurs_id SET DEFAULT nextval('public.resurs_resurs_id_seq'::regclass);


--
-- Name: rezervacija id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rezervacija ALTER COLUMN id SET DEFAULT nextval('public.rezervacija_id_seq'::regclass);


--
-- Name: rezervaciona_serija serija; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rezervaciona_serija ALTER COLUMN serija SET DEFAULT nextval('public.rezervaciona_serija_serija_seq'::regclass);


--
-- Name: termin termin_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.termin ALTER COLUMN termin_id SET DEFAULT nextval('public.termin_termin_id_seq'::regclass);


--
-- Data for Name: korisnik; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.korisnik (id, username, password, ime) FROM stdin;
2	admin	hashedpassword	Admin Adminovic
1	testuser	$2a$12$2ycSBJxauG78BJaq9bPOAOfK8A4.fQEUx5zyMfr0XtMVCVP1vq22.	Petar Petrovic
\.


--
-- Data for Name: resurs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.resurs (resurs_id, naziv, tip, radno_vreme) FROM stdin;
1	Sala 1	Konferencijska	09:00-17:00
2	Sala 2	Trening	10:00-18:00
\.


--
-- Data for Name: rezervacija; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rezervacija (id, korisnik_id, termin_id, status, datum_rezervacije, rezervacija_id) FROM stdin;
1	1	1	CONFIRMED	2026-01-27 14:42:30.170441	RES-001
2	2	3	PENDING	2026-01-27 14:42:30.170441	RES-002
\.


--
-- Data for Name: rezervaciona_serija; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rezervaciona_serija (serija, tip, do_datum, repeat_count, series_id, slot_id, start_date, user_id) FROM stdin;
1	weekly	2026-02-28	4	SER-001	1	2026-01-28	1
\.


--
-- Data for Name: termin; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.termin (termin_id, datum, vreme, resurs_id) FROM stdin;
1	2026-01-28	09:00:00	1
2	2026-01-28	10:00:00	1
3	2026-01-28	11:00:00	2
\.


--
-- Name: korisnik_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.korisnik_id_seq', 2, true);


--
-- Name: resurs_resurs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.resurs_resurs_id_seq', 2, true);


--
-- Name: rezervacija_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rezervacija_id_seq', 3, true);


--
-- Name: rezervaciona_serija_serija_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rezervaciona_serija_serija_seq', 1, true);


--
-- Name: termin_termin_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.termin_termin_id_seq', 3, true);


--
-- Name: korisnik korisnik_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.korisnik
    ADD CONSTRAINT korisnik_pkey PRIMARY KEY (id);


--
-- Name: korisnik korisnik_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.korisnik
    ADD CONSTRAINT korisnik_username_key UNIQUE (username);


--
-- Name: resurs resurs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.resurs
    ADD CONSTRAINT resurs_pkey PRIMARY KEY (resurs_id);


--
-- Name: rezervacija rezervacija_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rezervacija
    ADD CONSTRAINT rezervacija_pkey PRIMARY KEY (id);


--
-- Name: rezervaciona_serija rezervaciona_serija_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rezervaciona_serija
    ADD CONSTRAINT rezervaciona_serija_pkey PRIMARY KEY (serija);


--
-- Name: termin termin_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.termin
    ADD CONSTRAINT termin_pkey PRIMARY KEY (termin_id);


--
-- Name: rezervacija fk_korisnik; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rezervacija
    ADD CONSTRAINT fk_korisnik FOREIGN KEY (korisnik_id) REFERENCES public.korisnik(id);


--
-- Name: termin fk_resurs; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.termin
    ADD CONSTRAINT fk_resurs FOREIGN KEY (resurs_id) REFERENCES public.resurs(resurs_id);


--
-- Name: rezervaciona_serija fk_slot; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rezervaciona_serija
    ADD CONSTRAINT fk_slot FOREIGN KEY (slot_id) REFERENCES public.termin(termin_id);


--
-- Name: rezervacija fk_termin; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rezervacija
    ADD CONSTRAINT fk_termin FOREIGN KEY (termin_id) REFERENCES public.termin(termin_id);


--
-- Name: rezervaciona_serija fk_user; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rezervaciona_serija
    ADD CONSTRAINT fk_user FOREIGN KEY (user_id) REFERENCES public.korisnik(id);


--
-- Name: TABLE korisnik; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.korisnik TO korisnik;


--
-- Name: SEQUENCE korisnik_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.korisnik_id_seq TO korisnik;


--
-- Name: TABLE resurs; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.resurs TO korisnik;


--
-- Name: SEQUENCE resurs_resurs_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.resurs_resurs_id_seq TO korisnik;


--
-- Name: TABLE rezervacija; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.rezervacija TO korisnik;


--
-- Name: SEQUENCE rezervacija_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.rezervacija_id_seq TO korisnik;


--
-- Name: TABLE rezervaciona_serija; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.rezervaciona_serija TO korisnik;


--
-- Name: SEQUENCE rezervaciona_serija_serija_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.rezervaciona_serija_serija_seq TO korisnik;


--
-- Name: TABLE termin; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.termin TO korisnik;


--
-- Name: SEQUENCE termin_termin_id_seq; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON SEQUENCE public.termin_termin_id_seq TO korisnik;


--
-- PostgreSQL database dump complete
--

\unrestrict OXgdW1XxOffmunAjk6jdtx2FYf3nDOhnaepCslgnNlbg8eZrToa7177x7AnjyWh

